/* Global */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:Arial, Helvetica, sans-serif;
}
:root {
    --bg-color: #fff;
    --second-bg-color: #ffc632;
    --text-color: #131313;
    --main-color:#800000;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
span{
    color: var(--main-color);
}
.heading{
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
    transition: 0.3s ease-in;
}
.heading:hover{
    text-decoration: underline var(--main-color);
    color: var(--main-color);
}
/* Header */
.header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 1rem 1% 1rem;
    background: var(--main-color);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index:5;
}
.header img{
    width:8%; 
    float:left;
    padding-right: 5px;
}
.header span{
    color: var(--second-bg-color);
}
.logo{
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;;
}
.logo:hover{
    transform:scale(1.1);
    text-shadow: 0 0 25px var(--second-bg-color);
}
.logo span{
    text-shadow: 0 0 25px var(--second-bg-color);
}
.nav-container {
    display: flex;
    align-items: center;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a{
    font-size: 2rem;
    color: var(--bg-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    overflow: hidden;
}
.navbar a:hover,
.navbar a.active{
    color: var(--second-bg-color);
    border-bottom: 3px solid var(--second-bg-color);
}
.search-bar{
    border-radius: 20px;
    padding: 10px 15px;
    margin-left: 20px;
    display: flex;
}
.bx-search-alt{
    color: var(--bg-color);
    flex: left;
    padding: 10px;
    border-radius: 60%;
    transition: 0.3s;
    background-color: var(--main-color);
    border: 1px solid var(--bg-color);
}
.Input{
    border: none;
    background: none;
    outline: none;
    color: var(--main-color);
    font-size: 18px;
    transition: 0.3s;
    width: 0;
}
.search-bar:hover > .Input{
    width: 150px;
}
.search-bar:hover > .bx-search-alt{
    background-color: var(--main-color);
    color: var(--second-bg-color);
    border: 1px solid var(--second-bg-color);
}
.search-bar:hover{
    background: var(--bg-color);
    box-shadow: 0 0 25px var(--second-bg-color);
    backdrop-filter: blur(0.6px);
}
@media screen and (max-width:720px){
    .search-bar:hover{
        width: 70%;
    }
}
.active{
    color: var(--second-bg-color);
    border-bottom: 3px solid var(--second-bg-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
/* Log In Page */ 
.log-in{
    margin-top: 100px;
}
.log-in .btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--bg-color);
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor:pointer;
    margin-top: 2rem;
}
.log-in .btn:hover{
    transform:scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
    color: var(--second-bg-color);
}
.log-in .input-box{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.log-in .input-box input{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin:1.5rem 0;
    resize: none;
    box-shadow: 0 0 10px var(--main-color);
}
/* Home Page */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
/* Library Browsing */
.library{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    padding: 100px 15px;
    background: var(--second-bg-color);
}
.library-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
.container{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1400px) {
    .container{
        display: grid;
        grid-template-columns: auto auto auto;
    }
  }

@media only screen and (max-width: 1000px) {
    .container{
        display: grid;
        grid-template-columns: auto auto;
    }
  }

  @media only screen and (max-width: 600px) {
    .container{
        display: grid;
        grid-template-columns: auto;
    }
  }
figure {
    width: 270px; 
    height: 400px;
    animation: animate-books 1.5s ease-out;
}
figure img {
    width: 250px;   
    height: 400px; 
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid #C10206;
    animation: animate-books 1.5s ease-out;
}
@keyframes animate-books {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

figure img:hover{
    scale: 1.2;
    transition-duration: 0.5s;
    cursor: grabbing;
}
/* Search */
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.search-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
/* Footer */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: var(--second-bg-color);
}
.footer .copyright{
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}
.footer span{
    color: var(--text-color);
}
.footer span:hover{
    color: var(--main-color);
    text-shadow: 0 0 25px var(--main-color);
}
/* For General Responsiveness */
@media only screen and (max-width: 768px) {
    .header {
      padding: 1rem 4% 1rem;
    }
    .navbar a {
      font-size: 1.5rem;
      margin-left: 2rem;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .header {
      padding: 0.5rem 3% 0.5rem;
    }
    .navbar a {
      font-size: 1.2rem;
      margin-left: 1.5rem;
    }
  }
  @media only screen and (max-width: 768px) {
    .search-bar {
      width: 80%;
    }
    .header {
        padding: 0.2rem 2% 0.2rem; /* decreased padding for smaller screens */
    }
  }
  
  @media only screen and (max-width: 480px) {
    .search-bar {
      width: 100%;
    }
  }
  @media only screen and (max-width: 768px) {
    .home, .library, .search {
      flex-direction: column;
      gap: 10rem;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .home, .library, .search {
      flex-direction: column;
      gap: 5rem;
    }
  }
  @media only screen and (max-width: 768px) {
    figure {
      width: 50%;
      height: 300px;
    }
    figure img {
      width: 50%;
      height: 300px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    figure {
      width: 100%;
      height: 250px;
    }
    figure img {
      width: 100%;
      height: 250px;
    }
  }